body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin-top: 20px;
}

@media (max-width: 640px) {
    h1 {
        font-size: 24px;
    }
}

canvas {
    border-radius: 8px;
    max-width: 100%;
}

.animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#feedbackMessage {
    display: none;
}

#feedbackMessage.hidden {
    display: none;
}

#feedbackMessage.animate-bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}
